@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Tahoma, sans-serif;
}

.first-part {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links,
.intro.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.intro.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    color: #FFFFFF;
}

.intro.image {
    background-color: grey;
    color: whitesmoke;
}