body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: Roboto;
}

.first-part {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.first-part,
.second-part,
.third-part,
.fourth-part {
    padding: 0 25vw;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links,
.intro.text.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.intro.text {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
}

.intro.text.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    color: #FFFFFF;
    font-weight: 900;
    border: 0;
    border-radius: 5px;
    padding: 8px 24px;
}

.image {
    background-color: grey;
    color: whitesmoke;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* second-part format */

.second-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.information {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.gallery {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
}

.illustration {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.square {
    flex: 1;
    border: 2px solid #3882F6;
}

/* third-part format */
.third-part {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.quote {
    font-size: 36px;
    color: #1f2937;
}

.thor {
    font-weight: 900;
    align-self: flex-end;
}

/* fourth-part format */
.fourth-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue-container {
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CSS classes of Roboto font from Google Fonts*/
.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
  } 