body {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* height: 100vh; */
    font-family: Roboto;
}

/* Shared formats */
.header,
.footer,
.first-part {
  background-color: #1F2937;
}

.header,
.first-part {
  padding-left: 400px;
  padding-right: 400px;
}

.links,
.intro.text.secondary,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

.logo,
.intro.text.main,
button,
.call-to-action,
.image {
  color: #F9FAF8;
}

button {
  font-weight: 900;
  border: 0;
  border-radius: 5px;
  padding: 8px 24px;
}

button,
.blue-container {
  background-color: #3882F6;
}

.information,
.quote {
  color: #1F2937;
}

/* header format */
.header {
  display: flex;
  justify-content: space-between;
  /* padding: 0 25vw; */
  padding-top: 20px;
  padding-bottom: 20px;

  .links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}
}

/* first-part format */
.first-part {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* .first-part,
.second-part,
.third-part,
.fourth-part {
    padding: 0 25vw;
    flex: 1;
} */

.intro {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 48px;
}

.intro.text {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: center;
}

.intro.text.main {
    font-size: 48px;
    font-weight: 900;
}

.intro.text button {
  margin-top: 10px
}

.image {
    background-color: grey;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* second-part format */

.second-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.information {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 900;
}

.gallery {
    display: flex; 
    flex: 2.5;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
}

.illustration {
    display: flex;
    width: 150px;
    flex-direction: column;
}

.square {
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}
/* third-part format */
.third-part {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    padding-left: 500px;
    padding-right: 500px;
}

.quote {
    font-size: 36px;
}

.thor {
    font-weight: 900;
    align-self: flex-end;
}

/* fourth-part format */
.fourth-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue-container {
  display: flex;
}

/* footer format */
.footer {
  font-size: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS classes of Roboto font from Google Fonts*/
.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
  } 