@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header {
    height: 100px;
    background-color: #1F2937;
}

.logo,
a {
    color: #F9FAF8;
}